a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.link1 {
	width: 100%;
	padding: 0px 120px;
	/* 	position: relative; */
}

.link3 {
	width: 550px;
/* 	max-height: 500px; */
}

.small {
	width: 55px;
	height: 55px;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: 5px;
	float: left;
	object-fit: cover;
}

.stl1 p {
	margin-top: 8px;
}

.down {
	margin: auto;
	width: 500px;
	height: 10px;
	margin-top: 30px;
}

.down li:hover {
	color: black;
	cursor: pointer;
}

.down li {
	color: gray;
	font-size: 20px;
	font-weight: bolder;
	list-style: none;
	float: left;
	width: 150px;
	background-color: white;
	margin-left: 8px;
	text-align: center;
	line-height: 28px;
	border-radius: 4px;
}


.msglogin {
	background-color: rgba(0, 0, 0, .03);
	font-size: 20px;
	font-weight: bolder;
	font-color: gray;
	width: 250px;
	line-height: 50px;
	margin: auto;
	margin-top: 20px;
	text-align: center;
	border-radius: 8px;
}

#QAA {
	margin-top: 50px;
	text-align: center;
}

.imgArea {
	border: 1px solid rgba(0, 0, 0, .125);
	background-color: rgba(0, 0, 0, .03);
	border-radius: 0.75rem;
}

.QA {
	width:100%;
/* 	max-height: 300px; */
}

.mid {
	display: none;
}

.buyerquest {
	background-color: white;
	border-radius: 0.75rem;
}

.buyerquest p {
	font-size: 18px;
}

.useranswer {
	font-size: 18px;
	background-color: rgba(0, 0, 0, .03);
}

.useranswer .selleranswer {
	font-size: 14px;
	color: #C7C7E2;
}

.imgdiv {
	text-align: center;
	/* 	line-height:450px; */
	width: 500px;
/* 	height: 450px; */
	overflow: hidden;
	object-fit: cover;
}

.img1 {
	width: 800px;
	max-width: 500px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.3s;
	object-fit: cover;
}

.ansarea {
	display: none;
}

.salse {
	width: 45%;
}

.salse2 {
	font-size: 18px;
	color: gray;
	border-radius: 10px;
	line-height: 200%;
}

.productInfo {
	font-size: 18px;
	color: gray;
	line-height: 100%;
}

.span1 {
	font-size: 28px;
	color: red;
	font-weight: bold;
}

.link4 {
	width: 180px;
	height: 180px;
	border: gray 1px solid;
	position: absolute;
	top: 100px;
	left: 400px;
}

.p1 {
	width: 100%;
	height: 30px;
	background-color: rgba(220, 220, 220, 0.4);
	font-weight: bolder;
	line-height: 28px;
	color: gray;
}

.p2 {
	margin-top: 10px;
	margin-left: 10px;
}

.quest {
	width: 100%;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, .125);
	border-radius: 0.75rem;
	font-size: 24px;
}


.noleave {
	text-align: center;
}

#quest3 {
	display: none;
}

#myImg:hover {
	opacity: 0.7;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 10px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

/* Caption of Modal Image */
#caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation */
.modal-content, #caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@
-webkit-keyframes zoom {
	from {-webkit-transform: scale(0)
}

to {
	-webkit-transform: scale(1)
}

}
@
keyframes zoom {
	from {transform: scale(0)
}

to {
	transform: scale(1)
}

}

/* The Close Button */
.close {
	position: absolute;
	top: 100px;
	right: 35px;
	color: white;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.close:hover, .close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
	background-color: rgba(0, 0, 0, .03);
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
	.modal-content {
		width: 100%;
	}
}

.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container, .mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
	opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
	opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, .mfp-with-zoom.mfp-removing.mfp-bg
	{
	opacity: 0;
}

.test {
	color: red;
}