.module-link {
	margin-right: 15%;
}

#carAmount {
	background-color:red;
	padding-left: 6px;
	padding-right: 6px;
	border-radius: 50%;
}

.headShot {
	color: white;
}

.usersmenu {
	display: inline-block;
	/* display: block; */
	cursor: pointer;
	position: relative;
	padding: 0 0 0 2px;
	width:100px;
	/* background:red; */
}

.usersmenu.active {
	display:block;
	cursor: pointer;
	position: relative;
	padding: 0 0 0 2px;
	width:100px;
	
	/* background:red; */
}

.usersmenu ul {
	position: relative;
	left: 0;
	top: 0;
	
	width: 100px;
	opacity: 0;
	max-height: 0;
	/* overflow: hidden; */
}

.usersmenu.active ul {
	opacity: 100;
	max-height: 0px;
	width:100px;
}

.usersmenu ul li a {
	display: block;
	background: #444444;
	color: white;
    text-decoration: none;
}

.usersmenu ul li a:hover {
	background: lightblue;
}

.usersmenu ul, li {
	list-style: none;
	padding: 0;
	margin: 0;
}