body {
 font-family: "蘋果儷中黑", Microsoft JhengHei, "微軟正黑體", sans-serif;
 margin: 10px auto;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .shop-main {
    
    width:900px;
    margin:auto;
    margin-top: 100px;
  }
  .cart-header {
    margin: auto;
    margin-bottom: 10px;
    width: 900px;

  }
  .cart-header thead th:nth-child(1) {
    width: 60%;
  }
  .cart-header thead th:nth-child(2) {
    width: 10%;
  }
  .cart-header thead th:nth-child(3) {
    width: 10%;
  }
  .cart-header thead th:nth-child(4) {
    width: 10%;
  }
  .cart-header thead th:nth-child(5) {
    width: 10%;
  }
  
  
  .cart-main {
    margin: auto;
    margin-bottom: 30px;
    width: 900px;

  }

  .cart-main tbody td:nth-child(1) {
    width: 3%;
  }

  .cart-main tbody td:nth-child(2) {
    width: 17%;
  }

  .cart-main tbody td:nth-child(3) {
    width: 40%;
  }

  .cart-main tbody td:nth-child(4) {
    width: 10%;
  }

  .cart-main tbody td:nth-child(5) {
    width: 10%;
  }
  .cart-main tbody td:nth-child(6) {
    width: 10%;
  }
  .cart-main tbody td:nth-child(7) {
    width: 10%;
  }
  
  
  .cart-main tbody tr img{
    width:110px;
    height:auto;
    border: grey 1px solid;
  }
  .cart-summary{
    margin: auto;
    width: 900px;
    margin-bottom: 100px;
  }
  .cart-summary tbody{
    background-color:#F3F3FA;
    border-top: gray 2px solid;
  }
  .cart-summary tbody td:nth-child(1) {
    width: 75%;
  }
  .cart-summary tbody td:nth-child(2) {
    width: 10%;
  }
  .cart-summary tbody td:nth-child(3) {
    width: 15%;
  }
    .sum{
  display:none;
  }
  