.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

@media ( min-width : 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

hr {
	border: black 1px solid;
	padding: 0px;
	margin: 0px;
}

.img {
	max-width: 150px;
	max-height: 150px;
	margin: 5px;
}

td {
	max-width: 100%;
}

label {
	max-width: 100%;
}

table {
	border: 1px solid black;
}

div.form-check.form-check-inline {
	line-height: 1em;
	width: 60px;
}

div.form-check.form-check-inline {
	line-height: 1em;
	width: 60px;
	text-align: center;
}
div.zipdiv {
	margin-bottom:1.5em;
}
