body {
	font-family: "蘋果儷中黑", Microsoft JhengHei, "微軟正黑體", sans-serif;
	margin: 10px auto;
}

.main {
	/* 	border: 2px yellow solid; */
	width: 100%;
	padding: 0px 60px 0px 60px;
}

.main-body-and-filter {
	/* 	border: 3px blue solid; */
	width: 100%;
}

.main-body {
	/* 	border: 2px black solid; */
	width: 80%;
	float: right;
	height: 100%;
	padding: 0 20px;
}

.filter {
	/* 	border: 2px red solid; */
	width: 20%;
	float: left;
	height: 100%;
	padding: 0px 0px 0px 20px;
}

.main-toplink {
	/* 	border: 2px green solid; */
	height: 100%;
	width: 100%;
	margin: 0 auto;
	border-style: none;
}

h4 {
	color: gray;
}

.filter-title {
	font-weight: bold;
	font-size: 130%;
	margin: 0 1%;
}

.resulttdclass, .viptdclass {
	height: 200px;
	border: solid 2px;
	margin: 0 auto;
}

.carousel .carousel-item {
	height: 200px;
}

.carousel .carousel-item img {
	min-height: 200px;
	max-height: 200px;
	object-fit: cover;
}

.owl-carousel .search-vip-img {
	margin: 3px;
	display: block;
	height: 200px;
	width: 200px;
}

.img-top {
	width: 330px;
	height: 12vw;
	object-fit: cover;
}

.card-img {
	width: 100%;
	height: 13vw;
	object-fit: cover;
}

/* .top-link {
	width: 35%;
	height: 15%;
	object-fit: cover;
} */
.card-title {
	font-size: .9rem;
	font-weight: bold;
	margin-bottom: .25rem;
	height: 3.5rem;
}

.card-text {
	color: #FF5733;
}

.card-result {
	width: 12rem;
	display: inline-block;
	margin: 0.3rem 0.5rem;
}

.card-city {
	font-size: 0.2rem;
}

.search-card-body {
	padding: 0.5rem;
}

.search {
	width: 100%;
	/*  	display: flex; */
	display: inline-block;
	padding-bottom: 10px;
}

.searchTerm {
	width: 80%;
	border: 3px solid #6c757d;
	padding: 5px;
	height: 36px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: black;
	font-size: 1rem;
	border-right: 0;
}

.searchTerm:focus {
	color: #6c757d;
}

.searchButton {
	width: 36px;
	height: 36px;
	border: 1px solid #6c757d;
	background: #6c757d;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}

.wrap {
	width: 100%;
}

.searchButton:hover {
	background: #6c757dd2;
}