@charset "UTF-8";
body{
	height: 100%;
  padding-top: 100px;
}
.signuptitle{
	text-align:center;
	margin:auto;
}
.all-form{
display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.form-writein{
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-writein .form-input{
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-writein.form-writeinaddress{
	width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}
