  P #headh2{
    position: relative;
    height:50px;
  }
  
  h2{  
    
    
    left:40%;
    color:coral;
} 

 /* 這個collection也是relative是裡面弔詭的地方 */
 #collection{
    position:relative;
    border:1px solid green;
    background-color:cornsilk;
    width:500px;
    height:300px;
    border-radius: 5%; 
    /* margin: 60px auto;  */
    margin-bottom: 30px;

 } 

 #collection #commoncase{
    position: absolute;
    border: 1px blue solid;
    background-color: darkcyan;
    width: 150px;
    height:100px;
    border-radius: 5%;
    top:50px;
    left:60px;
    color:white;
    text-align: center;
    line-height: 100px;
  
    

 }
/* 置中有很多種方式，是哪一種呢? */
 /* align-content: center; */
    /* justify-content: center; */

 #collection #commoncase3{
    position: absolute;
    border: 1px blue solid;
    background-color: darkcyan;
    width: 150px;
    height:100px;
    border-radius: 5%;
    top:50px;
    left:300px;
    color:white;
    text-align: center;
    line-height: 100px;
    

 }

 #collection #vip{
    position: absolute;
    border: 1px blue solid;
    background-color: orange;
    width: 150px;
    height:100px;
    border-radius: 5%;
    top:180px;
    left:60px;
    color:white;
    text-align: center;
    line-height: 100px;
    

 }

 #collection #vip3{
    position: absolute;
    border: 1px blue solid;
    background-color:orange;
    width: 150px;
    height:100px;
    border-radius: 5%;
    top:180px;
    left:300px;
    color:white;
    text-align: center;
    line-height: 100px;
    

 }

 #bigframe{
    margin: 0px auto;
    position:relative;
    /* border: 1px blue solid; */
    width:500px;
    height:500px;
    text-align: center;
 }
 span{

     margin: 0;
 }
